@import "tailwindcss";
@font-face {
  font-family: 'Monogram';
  src: url('/fonts/monogram.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Argent Pixel CF';
  src: url('/fonts/ArgentPixelCF-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Argent Pixel CF';
  src: url('/fonts/ArgentPixelCF-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Louize Display";
  src: url('/fonts/Louize-Display-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

:root {
  --background: #1E2029;
  --foreground: #FFFFFF;
  scrollbar-gutter: stable both-edges;
}

html {
  cursor: url("/sword-cursor.png"), auto;
  scroll-padding-top: 8rem;
}

.sword-gauntlet {
  cursor: url("/gauntlet-cursor.png"), pointer !important;
}

.font-pixel {
  font-family: 'Argent Pixel CF';
}

.font-pixel-mono {
  font-family: 'Monogram', monospace;
}

button.sword-gauntlet {
  cursor: url("/gauntlet-cursor.png"), pointer;
}

body {
  background: var(--background);
  color: var(--foreground);
}

p {
  font-family: "SF Pro", sans-serif;
}

.body-lg {
  font-family: "SF Pro", sans-serif;
  font-size: 1.063rem;
  line-height: 1.638rem;
}

.body-xl {
  font-family: "SF Pro", sans-serif;
  font-size: 1.563rem;
  line-height: 1.938rem;
}

.body-2xl {
  font-family: "SF Pro", sans-serif;
  font-size: 1.938rem;
  line-height: 2.375rem;
}


.font-pixel {
  font-family: 'Argent Pixel CF';
}

.large-title {
  font-family: 'Argent Pixel CF';
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.title-1 {
  font-family: 'Argent Pixel CF';
  font-size: 1.563rem;
  line-height: 1.938rem;
}

.title-2 {
  font-family: 'Argent Pixel CF';
  font-size: 1.188rem;
  line-height: 1.5rem;
}

.headline {
  font-family: 'Argent Pixel CF';
  font-size: 1.063rem;
  line-height: 1.438rem;
}

.headline-sm {
  font-family: 'Argent Pixel CF';
  font-size: 0.875rem;
  line-height: 1.188;
}

.ampersand {
  font-family: "Louize Display";
  font-style: italic;
  font-size: 1.25rem;
}

.ampersand-sm {
  font-family: "Louize Display";
  font-style: italic;
  font-size: 1.125rem;
}

.body-sm {
  font-size: 0.875rem;
  line-height: 1.188;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: url('/public/scrollbar.svg') no-repeat center center;
  background-size: cover;
}

@layer utilities {
  .mask-border-sm {
    mask-image: url(/border-sm.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  .mask-border-prominent {
    mask-image: url(/border-sm.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

 @media (width >= 80rem) {
    .mask-border-prominent {
      mask-image: url(/border-prominent.svg);
    }
  }
}